:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container3 {
    overflow: hidden;
  }
  
  .main-container3,
  .main-container3 * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container3 {
    position: relative;
    width: 440px;
    height: 956px;
    margin: 0 auto;
    font-size: 0px;
    background: #ffffff;
    overflow: hidden;
  }
  .register-13 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 99px;
    height: 30px;
    margin: 119px 0 0 170px;
    color: #000000;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
  }
  .full-names3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 151px;
    height: 20px;
    margin: 153px 0 0 1px;
    color: #000000;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
  }
  .employee-number3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 151px;
    height: 20px;
    margin: 82px 0 0 32px;
    color: #000000;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
  }
  .cohort-name3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 151px;
    height: 20px;
    margin: 82px 0 0 10px;
    color: #000000;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    z-index: 9;
  }
  .live-button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0px;
    top: 45%;
    left: 17%;
    position: absolute;
    width: 232px;
    margin: 140px 0 0 104px;
    padding: 9px 62px 9px 62px;
    cursor: pointer;
    background: rgba(0, 200, 176, 0.9);
    border: 1px solid #979fab;
    z-index: 10;
    border-radius: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .next-span3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 48px;
    height: 25px;
    color: #ffffff;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
  }

  .rectangle3, .rectangle-23, .wrapper-23 {
    position: absolute;
    width: 383px;
    height: 48px;
    background: rgba(217, 217, 217, 0.6);
    z-index: 1;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .thomas-ricky-input, .text-input, .location-input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 263px;
    height: 20px;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.4);
    font-family: Lexend Deca, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    background: transparent;
    border: none;
  }
  
  .rectangle3 {
    top: 20%;
    left: 33px;
  }
  
  .rectangle-23 {
    top: 30%;
    left: 33px;
  }
  
  .wrapper-23 {
    top: 40%;
    left: 33px;
  }
  
  input:focus {
    outline: none;
  }
  