:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container7 {
  overflow: hidden;
}

.main-container7,
.main-container7 * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container7 {
  position: relative;
  width: 440px;
  height: 956px;
  margin: 0 auto;
  font-size: 0px;
  background: #ffffff;
  overflow: hidden;
}
.account-verification7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 241px;
  height: 30px;
  margin: 184px 0 0 99px;
  color: #000000;
  font-family: Lexend Deca, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}
.enter-otp7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 263px;
  height: 40px;
  margin: 57px 0 0 88px;
  color: #000000;
  font-family: Lexend Deca, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  z-index: 6;
}
.email7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 151px;
  height: 20px;
  margin: 56px 0 0 -17px;
  color: #000000;
  font-family: Lexend Deca, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.live7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 232px;
  margin: 344px 0 0 104px;
  padding: 9px 62px 9px 62px;
  cursor: pointer;
  background: rgba(0, 200, 176, 0.9);
  border: 1px solid rgba(1, 49, 127, 0.2);
  z-index: 4;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.next7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 48px;
  height: 25px;
  color: #ffffff;
  font-family: Lexend Deca, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.rectangle7 {
  position: absolute;
  width: 383px;
  height: 48px;
  top: 397px;
  left: 33px;
  background: rgba(217, 217, 217, 0.6);
  z-index: 1;
  overflow: hidden;
  border-radius: 12px;
}
.thomas-mail-co {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 263px;
  height: 20px;
  top: 411px;
  left: -7px;
  color: rgba(0, 0, 0, 0.4);
  font-family: Lexend Deca, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
.rectangle7, .rectangle-7, .wrapper-7 {
  position: absolute;
  width: 383px;
  height: 48px;
  background: rgba(217, 217, 217, 0.6);
  z-index: 1;
  overflow: hidden;
  border-radius: 12px;
}